.portlet-analytics-settings .contacts-link-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.portlet-analytics-settings .list-options {
	margin: 0;
	padding: 0;
	list-style: none;
}

.portlet-analytics-settings .list-options .description {
	font-size: 12px;
	margin: 0 0 0 20px;
}

.portlet-analytics-settings .list-options .radio {
	margin: 0;
}
